h1{
    color:black;
    background-color:gray;
    text-align: center;
    font-family:'McLaren', 'cursive' ;
    text-shadow:10px 10px white;
    font-size: 100px; 
}
body{

    background-color:white;
    text-align: center;
}
h2{
    color:black;
    background-color:gray;
    text-align: center;
    font-family:'McLaren', 'cursive' ;
    text-shadow:5px 5px white;
    font-size: 40px; 

}
h3{
    color:black;
    background-color:gray;
    text-align: center;
    font-family: 'McLaren', 'cursive' ;
    text-shadow:5px 5px white;
    font-size:40px;
}
li a {
    display:inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
   
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }
  li:last-child {
    border-right: none
  }
  .active {
    background-color: #04AA6D;
  }